<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Scrabble Easy Scorer</title>
    </head>
    <body>
        <div class="container">
            <h2>What will your score be?</h2>
            <p>The scores are right there on the tile. You know that, right?</p>
            <form action="/results">
                <div class="form-group">
                    <label for="input">For what word do you need simple, stupid addition done?</label>
                    <input id="input" name="input" type="text" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-info">I guess..</button>
                </div>
            </form>
        </div>
    </body>
</html>
