<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Final Score</title>
    </head>
    <body>
        <div class="container">
            <h2>...Ugh fine.</h2>
            <h5>{{ points }}</h5>
            <form action="/">
            <button type="submit" class="btn btn-info">GO AWAY!</button>
        </form>       
    </body>
</html>
